{% extends 'base.html' %}
{% block bodyblock %}

<div class="container">
    <br>
    <h3 class="content"><span style="color: #629019">Face Recognition </span> Application</h3>
    <br>
    <p class="content">
        This diagram describes about the gender classification made through the AI.
    </p>
    <br>
    <img src="{{url_for('static',filename='images/002.png')}}"alt="image for description"width="600"height="230">
    <br>
    <div align="center">
        <a href="{{url_for('gender')}}"class="btn btn-outline-primary">Try it now</a>
    </div>
    
</div>
{% endblock %}
#198b90