{% extends 'base.html' %}

{% block bodyblock %}
    <div class="container">
        <br><br>
        <h3 class="content"> Welcome to the <span style="color: rgb(100, 128, 0)" > AI based app for Gender detection </span>
        </h3>
        <br>
        <p class="content">
            This is the AI app that I have created for the trial version of building any app and make different experiments and improve the knowledge in AI and DL domains mainly in Data science domain.Here this was created after the watching the learning video of FreeAI. First and wonderful app created. This continues.....Hope everything good to happen in the world. Toodles from the App and always keep doing the great things.
        </p>

    </div>


{% endblock  %}
##198b90